img{
    width: 120px;
    height: 100px;
}
body{
    background-color: #104262 !important;
    width: 100% !important;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.col-lg-4{
    width: 100% !important;
    display: flex;
    flex-direction: row !important;
}
.cols{
    display: flex;
    flex-direction: row;
    background-color: #7ec1ea;
    /* width: 1009px !important; */
    /* width: 50%; */
    
}
.card{
    display: flex;
    flex-direction: row;
    background-color: rgb(199, 136, 255) !important;
    /* width: 350px; */
    /* height: 200px; */
    /* flex-wrap: wrap; */
    flex: 2;
}
.card-header{
    /* background-color: rgb(204, 237, 14); */
    color: white;
    font-weight: 500;
    font-size: 20px ;
    text-align: center;
    justify-content: center;
    /* width: 100px; */
    margin-top: 0px;
    height: 40px;
}
.card-body{
    display: flex;
flex-direction: row;
    text-align: center;
    background-color: rgb(245, 192, 240);
    margin-bottom: 0px;
}
.image{
    /* background-color: antiquewhite; */
}
.align{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 50%;
    margin-left: 10px;
}
.btns{
    width: 100% !important;
    color: blue;
    align-items: center;
    justify-content: center;
}
.btn{
    align-items: center;
    justify-content: center;
}
.row>*{
    width:50%!important;
}


.flag{
    /* width: 50%; */
    /* height: 100px; */
    background-color: #7ec1ea !important;
}
/* .col-sm-6.col-md-4.col-lg-4.col-xl-4{
    margin-bottom: 25px;
} */

button{
    align-items: center;
}
@media screen and (min-width:900px) {
    .card{
        flex:(1,1);
    }
    .card-body{
        display: flex;
flex-direction: column;
    }
    
}